<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3>{{budget.budgets_name}}</h3>
            </div>
            <div class="card-body">

                    <h5>Income: $<span id = "income">{{budget.budgets_income}}</span></h5>
                    <hr>

                    <h5>Available Income: $<span id="availIncome"></span></h5>
                    <hr>
                    <h5>Expenses:</h5>
                    <div class="row my-4">
                        <div class="col">
                            Housing: $<span class="expense">{{budget.budgets_housing}}</span>
                        </div>
                        <div class="col">
                            Transportation: $<span class="expense">{{budget.budgets_transportation}}</span>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            Groceries: $<span class="expense">{{budget.budgets_groceries}}</span>
                        </div>

                        <div class="col">
                            Other Food: $<span class="expense">{{budget.budgets_eating_out}}</span>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            Savings: $<span class="expense">{{budget.budgets_savings}}</span>
                        </div>

                        <div class="col">
                            Other: $<span class="expense">{{budget.budgets_other}}</span>
                        </div>
                    </div>
                    <a href="/editBudget?budget={{budget.budgets_name}}" class="btn btn-primary">Edit</a>
                    <a class="btn btn-outline-secondary" href="/main" role="button">Go Back</a>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

        <script src="viewBudget.js">
        </script>
</body>

</html>